allow system_server sensors_device:chr_file rw_file_perms;

# Allow system server to change hw button properties
allow system_server qemu_hw_mainkeys_prop:property_service set;
